header {
    background: #003b6f;
    color: white;
    text-align: center;
    padding: 10px;
}

.logo {
    width: 60px;
    height: auto;
    margin-bottom: 5px;
}

h1 {
    font-size: 1.4rem;
    margin: 5px 0;
}

header p {
    margin: 0;
    font-size: 0.9rem;
}
